.box {
  width: 300px;
  height: 200px;
  background-color: rgb(252, 188, 218);
  border: 5px solid rgb(190, 4, 97);
  padding: 20px 15px 10px 15px;
  margin: 30px auto;
  text-align: center;
  line-height: 160px; 
  font-weight: bold;
  font-style: normal;
}
